.playerContainer {
    display: grid;
    grid-template-columns: auto 1fr;
    height: fit-content;
    gap: 16px;
}
.playerInfo{
    width: fit-content;
    width: -moz-fit-content;
    display: grid;
    place-items: center;
}
.playerInfo section{
    display: grid;
    place-items: center;
}
.playerIcon {
    width: 50px;
    height: auto;
}
.playerCards{
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    place-items: center;
}
.stats{
    gap: 5px;
}
.gameCard{
    max-width: 220px;
    transition: all 0.1s ease-in-out;
}