.playerContainer {
    display: grid;
    grid-template-columns: auto 1fr;
    height: fit-content;
    gap: 16px;
}
.playerInfo{
    width: fit-content;
    width: -moz-fit-content;
    display: grid;
    place-items: center;
}
.playerInfo section{
    display: grid;
    place-items: center;
}
.playerIcon {
    width: 50px;
    height: auto;
}
.playerCards{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}
.stats{
    gap: 5px;
}
.gameCard{
    max-width: 220px;
    transition: all 0.1s ease-in-out;
}
@media screen and (max-width:1050px) {
    .playerContainer {
        gap: 8px;
    }
    .playerIcon {
        width: 40px;
    }
    .playerCards{
        gap: 7px;
    }
    .stats{
        gap: 3px;
    }
    .gameCard{
        max-width: 180px;
    }
}